body {
  transition: 10s ease-in-out;
  text-align: center;
}

body:hover {
  filter: sepia(25%) contrast(80%) saturate(80%) hue-rotate(320deg);
}

img {
  width: 20rem;
  margin: -2rem auto;
}

a {
  cursor: default;
}

.error-text-container {
  margin-top: 15rem;
  text-align: center;
}

.error-text-container > h1 {
  font-size: 4rem;
  padding-bottom: 1.8rem;
}

.error-text-container > p {
  font-size: 2rem;
  padding-top: 1.5rem;
}
