@import "theme";

/* General Styles */

html {
  overflow: hidden;
  body {
    @extend html;
    background-color: #e7e8e9;
    background-image: url("../assets/startup.png");
    background-size: 75%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position-x: 35%;
    background-position-y: 68%;
    z-index: 80;
    position: relative;
  }
}

/* Content */

#loader {
  z-index: 100;
  opacity: 50%;
  position: absolute;
  bottom: 19.25rem;
  left: 39.5%;
  transform: scale(0.7);
}

/* Media Queries */

@media only screen and (min-width: 891px) and (max-width: 1025px) {
}

@media only screen and (min-width: 1026px) and (max-width: 1535px) {
}

@media only screen and (min-width: 1536px) and (max-width: 1681px) {
}

@media only screen and (min-width: 1682px) {
}
