@import "theme";

/* General Styles */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  overflow: hidden;
  font-family: $mainFont;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

a,
ul > li:hover,
.icon > a {
  cursor: default;
  text-decoration: none;
  color: $closeColor;
}

img {
  width: 100%;
}

/* Header */

header {
  background-color: $headerColor;
  backdrop-filter: blur(0.25rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.104);
  justify-content: space-around;
  height: 2.15%;
}

.menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 0;

  > .menu-left > ul {
    display: flex;
    position: relative;

    > li {
      font-size: 0.9rem;
      text-align: center;
      padding: 0.05rem 0.7rem;
      height: 1rem;
    }
  }

  .menu-right > ul {
    display: flex;

    > li {
      padding-right: 0.4rem;
      font-size: 0.87rem;
    }
  }
}

#cover {
  background-image: url("../assets/yosemite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
}

#logo {
  padding-left: 0.25rem;
  width: 1.8rem;
  height: 1.1rem;
  opacity: 100%;
  transition: 0.3s ease;
  overflow-y: hidden;
  margin-right: -0.5rem;
}

#logo:hover {
  opacity: 70%;
}

#finder {
  font-weight: 600;
}

#battery {
  height: 1.1rem;
  width: 1.1rem;
}

#wifi {
  height: 1rem;
  width: 1rem;
}

/* App Open */
.app-window {
  background-color: $windowContentColor;
  border: $border;
  position: fixed;
  width: 50rem;
  height: 30rem;
  top: 15%;
  left: 10%;
  border-radius: $borderRadiusSize;

  .app-window-wrapper {
    border: $border;
    position: relative;
    top: -0.25rem;
    background-color: $windowTopColor;
    height: 1rem;
    width: 50rem;
    left: -0.9px;
    display: flex;
    border-top-left-radius: $borderRadiusSize;
    border-top-right-radius: $borderRadiusSize;
  }
}

.dots-wrapper {
  display: flex;

  .dots-close {
    background-color: $closeDotColor;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0.15rem;
  }
}

#close {
  font-size: 0.55rem;
  padding-top: 0.05rem;
  margin-left: 0.187rem;
  color: $closeColor;
  cursor: default;
  display: none;
}

.app-window-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 10rem;

  #left-col {
    transition: 6s ease;
    &:hover {
      filter: sepia(60%) saturate(85%) hue-rotate(320deg);
    }

    #intro-image {
      position: relative;
      top: -5.5rem;
      left: 2rem;
    }
  }

  #intro-text-container {
    position: relative;
    top: -8rem;
    left: -1rem;
    padding: 1.2rem;

    #intro-title {
      text-align: center;
      padding-bottom: 0.85rem;
      font-weight: 600;
      font-size: 1.5rem;

      strong {
        color: #fcf258;
      }
    }
  }
}

/* Internet Apps */

#internet-window {
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 0%;
  display: none;

  #internet-window-wrapper {
    width: 100vw;
    border-radius: 0rem;

    #internet-dot {
      font-size: 0.65rem;
      #internet-close {
        margin-left: 0.15rem;
        cursor: default;
        display: none;
      }
    }
  }
}

iframe {
  width: 100vw;
  height: 98vh;
  position: fixed;
  left: 0%;
  top: 1.7%;
  z-index: 95;
  border: none;
  #portfolio-iframe {
    display: none;
  }
  #safari-iframe {
    display: none;
  }
}

/* Help App */

#help-app {
  height: max-content;
  width: 20rem;
  border: $border;
  border-radius: 0.5rem;
  background-color: $windowContentColor;
  position: fixed;
  top: 10%;
  right: 20%;
  display: none;
}

#help-app-top {
  border-bottom: $border;
}

#help-close {
  color: $closeColor;
  font-size: 0.55rem;
  padding-top: 0.05rem;
  margin-left: 0.18rem;
  cursor: default;
  display: none;
}

#help-text-container {
  padding: 0.5rem 1rem;

  > h3 {
    text-align: center;
    padding: 0.25rem;
  }
  > p {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

/* Trash App */

#trash-app {
  height: 12rem;
  width: 20rem;
  background-color: $windowContentColor;
  border: $border;
  border-radius: 0.5rem;
  position: fixed;
  top: 10%;
  left: 10%;
  display: none;

  #trash-app-top {
    @extend #help-app-top;
  }

  #trash-close {
    @extend #help-close;
  }

  #trash-text-container {
    @extend #help-text-container;
    margin-top: 1rem;
  }
}

/* Stickies-note App */

#stickies-note {
  background-color: $stickiesPColor;
  position: fixed;
  top: 10%;
  left: 70%;
  display: none;

  > p {
    margin-top: 0.2rem;
  }

  #stickies-input {
    background-color: $stickiesPColor;
    margin-top: 0.25rem;
    width: 20rem;
    height: 15rem;
    word-wrap: break-word;
    outline: none;
    border: none;
    border-top: $border;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
  }

  #stickies-close {
    padding-top: 0.5rem;
    font-size: 1rem;
    margin-left: 0.25rem;
    cursor: default;
    color: $closeColor;
    font-weight: 100;
  }
}

/* Calendar App */

#calendar-app {
  position: fixed;
  top: 10%;
  left: 20%;
  display: none;

  #calendar-app-top {
    border: $border;
    background-color: $windowTopColor;
    border-top-left-radius: $borderRadiusSize;
    border-top-right-radius: $borderRadiusSize;
    height: 1rem;
    width: 49.9rem;
  }

  #calendar-image-container {
    width: 50rem;
  }

  #calendar-close {
    @extend #help-close;
  }
}

/* Finder App */

#finder-app {
  left: 30%;
  height: 29.75rem;
  display: none;

  #finder-close {
    @extend #close;
  }

  #finder-app-grid {
    grid-template-columns: 0.2fr 1fr;
    padding: 0.25rem;
    margin-top: 1rem;

    #finder-left-col {
      height: 28.95rem;
      padding-right: 1rem;
      border-right: 1px solid black;
      margin-top: -0.2rem;

      > ul > li {
        font-size: 1.2rem;
        padding-top: 1rem;
      }
    }
    #finder-right-col {
      margin-top: -0.25rem;
      height: auto;
      padding: 2rem;
    }
  }
}

.finder-text {
  margin-top: 10rem;
  text-align: center;
  padding-right: 6rem;
  opacity: 60%;
  cursor: default;
}

// Finder Lists in Finder App

.nested-list {
  padding-top: 0.2rem;
  font-size: 0.8rem;
  margin-left: 0.25rem;

  .list-wrapper {
    display: flex;

    .finder-icon {
      width: 1rem;
      padding-right: 0.2rem;
    }
  }

  > li {
    padding-top: 0.25rem;
  }
}

#finder-recents-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  bottom: 55%;
  left: -20%;
  display: none;
  > a > img {
    width: 4rem;

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }
  }
}

#finder-desktop-container {
  @extend #finder-recents-container;

  > div > img {
    width: 4rem;

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }
  }
}

#finder-documents-container {
  @extend #finder-recents-container;

  > div > a > img {
    width: 4rem;

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }
  }

  #resume {
    font-size: 0.75rem;
    margin-top: -0.4rem;
    margin-left: 0.7rem;
    color: black;
  }
}

#finder-mac-container {
  @extend #finder-recents-container;
  > div > img {
    width: 3.5rem;

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }
  }

  > div > p {
    font-size: 0.75rem;
  }
}

/* Contacts-App */

#contacts-app {
  position: fixed;
  top: 10%;
  right: 25%;
  height: auto;
  width: 30rem;
  background-color: $windowContentColor;
  border-top-left-radius: $borderRadiusSize;
  border-top-right-radius: $borderRadiusSize;
  display: none;

  #contacts-app-top {
    border-bottom: $border;
  }

  #contacts-dot {
    margin-left: 0.2rem;
  }

  #contacts-close {
    @extend #help-close;
  }
}

#contacts-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;

  #contacts-grid-col-left {
    padding: 1rem;
    text-align: center;
    height: 100%;

    > h3 {
      padding-bottom: 1rem;
    }
  }

  #contacts-grid-col-right {
    border-left: $border;
    padding: 2rem;
    font-size: 0.8rem;

    > h3 {
      text-align: center;
      font-size: 1.75rem;
    }

    > img {
      padding-bottom: 0.5rem;
    }

    > ul > li {
      padding-bottom: 0.5rem;
    }
  }
}

/* Reminders App */

#reminders-app {
  position: fixed;
  top: 10%;
  left: 5%;
  height: 25rem;
  width: 20rem;
  background-color: $windowContentColor;
  border: $border;
  border-radius: $borderRadiusSize;
  display: none;

  #reminders-app-top {
    border-bottom: $border;
  }

  #reminders-close {
    @extend #help-close;
  }
}

#reminders-app-container {
  > h3 {
    text-align: center;
    padding: 0.5rem 0;
  }

  > ol {
    margin-left: 2rem;
    height: auto;

    > li {
      padding-top: 1.25rem;

      > div > textarea {
        width: 100%;
        font-size: 1rem;
        outline: none;
        border: none;
        resize: none;
        overflow: hidden;
        border-bottom: $border;
        background-color: $windowContentColor;
      }
    }
  }
}

.reminders-textarea-container {
  position: relative;
  top: 0.2rem;
  margin-right: 1rem;
}

/* Facetime App */

#facetime-app {
  width: 55vw;
  height: 75vh;
  position: fixed;
  top: 10%;
  left: 20%;
  display: none;

  #facetime-close {
    @extend #help-close;
  }

  #facetime-image {
    position: fixed;
    top: 14.5%;
    margin-left: 0.75rem;
    width: 15rem;
    display: none;
    border-radius: 0.5rem;
  }

  #webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#facetime-text-container {
  padding: 0.2rem;
  border: $border;
  background-color: $windowContentColor;
  border-top-left-radius: $borderRadiusSize;
  border-top-right-radius: $borderRadiusSize;
}

/* Launchpad App */

#launchpad-app {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(1rem);
  display: none;

  #launchpad-close {
    margin-left: 0.5rem;
    cursor: default;
    opacity: 75%;
  }
}

.launchpad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 16rem;

  > div {
    margin-top: -12.5rem;
    margin-left: 3.25rem;
  }

  .launchpad-content-container {
    text-align: center;

    .launchpad-image {
      width: 9.5rem;

      &:hover {
        transform: scale(1.025);
      }
    }

    .launchpad-text {
      color: $windowContentColor;
      font-size: 0.8rem;
    }
  }
}

/* Header Menu */

#finder-list {
  background-color: $windowContentColor;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0.1rem;
  margin-left: -0.7rem;
  width: 3.5rem;
  padding: 0.25rem;
  position: absolute;
  display: none;

  > li {
    padding: 0.25rem 0.5rem;
  }
}

#file-list {
  @extend #finder-list;
  margin-left: -0.8rem;
  padding: $paddingList;
  width: 3.15rem;
}

#edit-list {
  @extend #finder-list;
  margin-left: -0.7rem;
  padding: $paddingList;
  width: 3.15rem;
}

#view-list {
  @extend #finder-list;
  margin-left: -0.6rem;
  padding: $paddingList;
  width: 3.25rem;
}

#go-list {
  @extend #finder-list;
  margin-left: -0.9rem;
  padding: $paddingList;
  width: 3.15rem;
}

#window-list {
  @extend #finder-list;
  margin-left: -0.7rem;
  width: 3.4rem;
  padding: 0.25rem 0.6rem 0.25rem 0.8rem;
}

/* Desktop Environment */

.apps-container {
  display: grid;
  grid-template-rows: 1fr;

  .app {
    position: relative;
    top: 1rem;
    left: 93%;
    height: 10vh;
    padding: 0.5rem;

    .app-image {
      width: 5.5rem;
      height: 5.5rem;
      position: absolute;
      top: 0;
      left: 0;

      #desktop-stickies {
        position: absolute;
        top: 40;
      }

      #desktop-portfolio {
        position: absolute;
        top: 30;
        left: 20;
      }
    }
  }
}

/* Footer & Dock */

footer {
  @extend header;
  background: linear-gradient(
    to right,
    rgba(139, 142, 155, 0.777),
    rgba(152, 149, 165, 0.752),
    rgba(154, 157, 188, 0.824)
  );
  position: absolute;
  bottom: 0rem;
  left: 20%;
  height: 3.2rem;

  .dock {
    > ul {
      display: flex;
    }

    .icon {
      height: 2.8rem;
      width: 2.9rem;
      padding: 0rem 0.5rem;
      margin-top: 0.2rem;

      &:hover {
        transform: scale(1.3);
        margin-top: -10px;
      }
    }

    #settings-icon {
      padding-right: 0.75rem;
    }

    #trash {
      width: 2.4rem;
    }

    #border-line {
      border-left: 1.5px solid black;
      margin-top: 0.2rem;
      padding-left: 0.25rem;

      #border-icon {
        width: 2.25rem;
      }
    }
  }
}

/* Media Queries */

/* Medium Sized Tablets */
@media only screen and (min-width: 891px) and (max-width: 1025px) {
  /*  Apps */
  .apps-container {
    .app {
      left: 90%;

      .app-image {
        transform: scale(0.88);
      }
    }
  }
  .app-window {
    transform: scale(0.8);
  }
  #finder-app {
    left: 10%;
  }

  .launchpad-grid {
    margin-top: 12rem;
    margin-right: 3rem;
    padding: 1rem;
    transform: scale(0.9);
  }
  #contacts-app {
    transform: scale(0.8);
  }

  #calendar-app {
    transform: scale(0.8);
  }
  #stickies-note {
    transform: scale(0.85);
    left: 55%;
  }
  #reminders-app {
    transform: scale(0.85);
  }

  /* Footer & Dock*/
  footer {
    bottom: -0.35%;
    left: 0%;
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 891px) and (max-width: 1025px) and (min-height: 601px) and (max-height: 770px) {
  /* Content */
}

/* Small to Medium sized Laptops */

@media only screen and (min-width: 1026px) and (max-width: 1535px) and (min-height: 860px) {
  /* Content */
}

@media only screen and (min-width: 1536px) and (max-width: 1679px) {
  /* Content */
}

/* Large screen devices */

@media only screen and (min-width: 1680px) and (min-height: 1000px) {
  /* General */

  /* Content */
}
